* {

     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {

    background: linear-gradient(180deg, #008080, #024545);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    color: #fff;
}



.portal {

    background-color: rgba(255, 255, 255, 0.1);
    width: 350px;
    padding: 40px;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    transition: transform 0.5s ease,  box-shadow 0.5s ease;
    cursor: pointer;
}



.portal:hover {

    transform: translateY(-5px);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}



input {

    width: 100%;
    padding: 10px;
    outline: none;
    margin: 8px 0;
    font-size: 1.1em;
    border-radius: 10px;
    border: none;
}



button {

    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    color: #fff;
    background-color: darkgreen;
    cursor: pointer;
    transition: background 0.5s ease;
}


button:hover {

    background-color: green;
}



#displayMessage {

    margin-top: 15px;
    font-weight: bold;
    font-size: 1em;
}